<nav id="navigation" *ngIf="!fun" class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand c-header-color" href="#" (click)="searchGiphy('')">Ultra Giphy</a>
    <button type="button" class="btn btn-light c-fun-text" (click)="party()">Party time</button>
  </div>
</nav>
<nav *ngIf="fun" class="navbar navbar-light c-background">
  <div class="container-fluid">
    <img src="https://media0.giphy.com/media/3oEjHRFm4DK8T68upW/giphy.gif?cid=83d4f3e2uzz1cj9ss6ixvnk0gmbqf0xcrj0gudtgh0xna953&rid=giphy.gif&ct=g" height="100">
    <button type="button" class="btn btn-light" (click)="party()">no more party</button>
  </div>
</nav>
<div [ngClass]="{'c-fun': fun}">
  <div class="d-flex align-items-center" [ngClass]="images.length === 0 ? 'c-min-vh-75' : 'py-5'">
    <div class="container text-center">
      <form>
        <input type="text" [formControl]="searchTags" class="form-control" id="search" (keydown.enter)="$event.preventDefault()" placeholder="Search for gifs">
      </form>
    </div>
  </div>
  <div id="list" *ngIf="images" class="container">
    <div class="d-flex flex-wrap">
      <div *ngFor="let image of images; let i = index" class="col-12 col-md-4 mb-4">
        <img id="gif-{{i}}" src="{{image.url}}" class="img-thumbnail" alt="">
        <figure>
          <blockquote class="blockquote">
            <p>{{image.title}}</p>
          </blockquote>
        </figure>
      </div>
    </div>
</div>

<nav *ngIf="images && pages" class="d-flex justify-content-center pt-5 pb-3">
  <ul class="pagination">
    <li *ngIf="currentPage > 1" class="page-item"><a class="page-link" (click)="newPage(currentPage - 1)">Previous</a></li>
    <li *ngFor="let page of paginate();" [ngClass]="{'active': currentPage === page}" class="page-item"><a class="page-link" (click)="newPage(page)">{{page}}</a></li>
    <li *ngIf="currentPage < lastPage" class="page-item"><a class="page-link" (click)="newPage(currentPage + 1)">Next</a></li>
  </ul>
</nav>
</div>

